
ul {
    display: flex;
    margin: 0rem 24rem;
  }
.main {
    margin: 4% 4%;
    background: white;
    border-radius: 26px;
  }
.logo img{
  width: 68px;
  margin: 6px 65%;
}
.name h1{
    margin: 20px 40%;
}
ul li{
    margin: 25px;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  color: #2b2bff;
  cursor: pointer;
  text-decoration: none;
  
}
ul li:hover{
    color: black;
    text-shadow: -1px -2px 2px black;
    
}
.image img{
    width: 24rem;
    margin-right: 14rem;
}
.social-media{
    margin: 0 4%;
}
.multiple-text{
    font-size: 33px;
    color: blue;
text-shadow: 2px 2px 2px black;
}
.bio .second{
    color: blue;
}
button{
    height: 2.5rem;
    width: 12rem;
  border-radius: 10px;
  color: white;
  background-color:#2b2bff ;
  cursor: pointer;
}
button:hover{
    color: black;
    background-color: white;
    transition: 600ms linear;
}
.intract{
    color: blue;
    margin-left: 4%;
}
.social-media{
    margin:32px 4%;
}
.social-media a{
    margin: 0 25px;
}
